*{
    padding: 0 px;
    margin: 0 px;
}
body{
    font-family: 'Raleway', sans-serif;
}
.header1{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
   padding-left: 10%;
   padding-right: 10%;
    align-items: center;
  
}
.home p:hover{
    color: red;
}
.reg a:hover{
    color: red;
}
header i:hover{
    color: red;
    cursor: pointer;
}
header p:hover{
    color: red;
    cursor: pointer;;
}
.header1 .reg a{
    text-decoration: none;
    color: black;
}
.regicon{
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
.header2{
    border-bottom: 2px solid rgb(186, 182, 172);
    background-color: white;
    display: flex;
    justify-content: space-between;
   padding-left: 150px;
   padding-right: 150px;
    align-items: center;
}
.follows{
    display:flex;
    align-items: center;
    column-gap: 10px;
}
.favorite{
    display:flex;
    align-items: center;
    column-gap: 10px;
}
.addtocart{
    display:flex;
    align-items: center;
    column-gap: 10px;
}

.navigation{
    /* border: 2px solid red; */
    height: 100px;
    background-color: rgb(237, 236, 235);
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    position: sticky;
    z-index: 20;
    top: 0%;
}
.navigation .home{
    display: flex;
    column-gap: 40px;
}
.search input{
    padding-left: 20px;
}
.search{
    display: flex;
    height: 30px;
}
.search .searchicon{
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.page1{
background-color: aliceblue;
}
.image{
    height: 60vh;
    display: flex;
    justify-content: center;
     padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
}
.photo1{
    background-image: url('flowerhead.png');
    background-repeat:no-repeat;
    height: 60vh;
    width: 50%;
}
.photo1 h1{
    margin-top: -70px;
    font-size: 60px;
    text-align: center;
}
.content1{
    display: flex;
    justify-content: center;
     padding-left: 150px;
    padding-right: 150px;
    column-gap: 40px;
}
.p1{
    width: 40%;
}
.p2{
    width: 40%;
}
.content1 .button{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100px;
    justify-content: center;
}
button{
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
}
.page2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     padding-left: 150px;
    padding-right: 150px;
    /* border: 2px solid red; */
    height: 200px;
    position:relative;
    /* width: 100%; */
}
.sell{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    top:-50%;
    left:50%;
    font-size: 25px;
    background-color:rgba(234, 228, 223, 0.765);
}
.flowers{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    top:-50%;
    font-size: 25px;
    color: white;
    left:50%;
    border-right:2px solid rgb(234, 228, 223)ite ;
    background-color: grey;
   cursor: pointer;
}
a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}
.products{
    /* border: 2px solid red; */
    top:-50%;
    font-size: 25px;
    left:50%;
    color: white;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
cursor: pointer;
}
.plus{
    position: absolute;
    top:25%;
    left:60.45%;

}
.flowers:hover{
    background-color:rgba(234, 228, 223, 0.765);
}
.products:hover{
    background-color:rgba(234, 228, 223, 0.765);
}
.plus i{
    font-size: 100px;
    color:white;
}
.newproduct{
    width: 35%;
    padding-left: 30%;
    text-align: center;
    
}
.productsimsge{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 150px;
    padding-right: 150px;
    height: 70vh;

}
.product{
    border: 2px  solid white;
    padding: 20px;
    text-align: center;
    background-color:rgba(255, 192, 203, 0.311);
    
}
.product p{
    padding-left: 90%;
    color: red;
}
.price{
    background-color:rgba(234, 228, 223, 0.516);
    height: 40vh;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    justify-content: space-between;
}
.price1{
    height: 40vh;
    background-color:rgba(176, 150, 150, 0.256);
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: aliceblue;
    display: grid;
    padding-left: 150px;
    padding-right: 150px;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.phone{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.email{
        display: flex;
    align-items: center;
    column-gap: 10px;

}
.town{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.amount hr{
    width: 100%;
    padding-left: 0px;
}
.amount p{
    word-spacing: 20px;
}
.amount{
    padding: 20px;
}

footer p:hover{
    color:red;
    cursor: pointer;
}
footer i:hover{
    color:red;
}

button:hover{
    color:red;
    background-color: white;
    border: 2px solid rgb(207, 58, 58);
}
.product:hover{
    background-color: whitesmoke;
}
.works{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 150px;
    padding-right: 150px;
}
.workphoto{
    /* border:2px solid red; */
    display: flex;
    flex-direction:column;
    padding: 30px;
    text-align: center;
    font-weight: lighter;
}